{% extends "layout.html" %}
  {% block title %} 
  Edit Item
  {% endblock %} 
  {% block content %}
	<h1>Edit {{restaurant.name }} Menu Item</h1>
	<form method="POST" action="{{ url_for('menuItem.edit', restaurant_id=restaurant.id, item_id = item_id)}}">
		<input type="text" placeholder="{{item.name}} " name="name">
		<input type="text" placeholder="{{item.description}}" name="description">
		<input type="text" placeholder="{{item.price}} " name="price">
		<input type="text" placeholder="{{item.course}} " name="course">	
		<input type="submit" value="Update Item">
	</form>
{% endblock %}