 {% extends "layout.html" %}
  {% block title %} 
  New Menu Item for {{restaurant.name}} 
  {% endblock %} 
  {% block content %}
	<h1>New {{restaurant.name}} Menu Item</h1>
	<form method="POST" action="{{ url_for('menuItem.new', restaurant_id=restaurant_id)}}">
		<input type="text" placeholder="Menu Item Name" name="name">
		<input type="text" placeholder="Menu Item Description" name="description">
		<input type="decimal" placeholder="Menu Item price" name="price">
		<input type="text" placeholder="Menu Item course" name="course">
		<input type="submit" value="Add Item">
	</form>
{% endblock %}