<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	<title>Edit Menu Item</title>
</head>
<body>
	<h1>Edit {{restaurant.name }} Menu Item</h1>
	<form method="POST" action="{{ url_for('editItem', restaurant_id=restaurant.id, item_id = item_id)}}">
		<input type="text" placeholder="{{item.name}} " name="name">
		<input type="text" placeholder="{{item.description}}" name="description">
		<input type="text" placeholder="{{item.price}} " name="price">
		<input type="text" placeholder="{{item.course}} " name="course">	
		<input type="submit" value="Update Item">
	</form>
<script type="text/javascript" src="{{url_for('static', filename='script/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='script/bootstrap.min.js') }}"></script>
</body>
</html>