<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	<title>{{restaurant.name}} Menu</title>
</head>
<body>
	<div class="container">
		<h2 class="text-center">{{restaurant.name}} Menu</h3>
			<h3><a class="btn btn-primary " href="{{url_for('newItem', restaurant_id = restaurant_id)}}">New Item</a></h3>
		{% for item in items %}
		<div class="row" style="margin-bottom: 2%;">
			<!-- Menu Name and Price -->
			<div class="col-md-3">
				<div class="row">
					{{item.name}}
				</div>
				<div class="row">
					{{item.price}}
				</div>
			</div>
			<div class="col-md-2">
				{{item.course}}
			</div>
			<!-- Menu Description -->
			<div class="col-md-5">
				{{item.description}}
			</div>
			<!-- Options(Edit or Delete) -->
			<div class="col-md-1">
				<a class="btn btn-primary" href="{{url_for('editItem', restaurant_id = restaurant_id, item_id = item.id )}}">Edit </a>
			</div>
			<div class="col-md-1">
				<a class="btn btn-danger" href="{{url_for('deleteItem', restaurant_id = restaurant_id, item_id = item.id)}}">Delete</a>
			</div>			
		</div>
		{% endfor %}
	</div>

	<script type="text/javascript" src="{{url_for('static', filename='script/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='script/bootstrap.min.js') }}"></script>
</body>
</html>