<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	<title>Add New Restaurant</title>
</head>
<body>
<h3>New Restaurant</h3>
<div class="container">
	<form method="POST" action="{{url_for('newRestaurant')}}">
	<label>
		Name
	</label>
	<input type="text" name="name" class="input-control">

	<input type="submit" value="Submit">
</form>
</div>
<script type="text/javascript" src="{{url_for('static', filename='script/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='script/bootstrap.min.js') }}"></script>
</body>
</html>