{% extends "layout.html" %}
  {% block title %} 
  Edit {{restaurant.name}} 
  {% endblock %} 
  {% block content %}
	<div class="form">
		<div class="container">
			<form method="POST" action="{{url_for('restaurant.edit', restaurant_id = restaurant_id)}}">
				<div class="form-group row py-3">
					<div class="col-sm-4">
						<input class="form-control" type="text" name="name" placeholder="{{restaurant.name}}">
						
					</div>
					<div class="col-sm-2">
							<input type="submit" class="btn btn-secondary" value="Update">
					</div>
			
				</div>
			</form>
			<a class="btn btn-primary" href="{{url_for('restaurant.restaurants')}}">back</a>
		</div>
	</div>
{% endblock %}