<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	<title>Edit {{restaurant.name}}</title>
	
</head>
<body>
<form method="POST" action="{{url_for('restaurant.edit', restaurant_id = restaurant_id)}}">
	<input type="text" name="name" placeholder="{{restaurant.name}}">
	<input type="submit" value="Update">
</form>
<script type="text/javascript" src="{{url_for('static', filename='script/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='script/bootstrap.min.js') }}"></script>
</body>
</html>