{% extends "layout.html" %} {% block title %} New restaurant {% endblock %} {% block content %}
<div class="pt-3">
		<h3 class="text-center">New Restaurant</h3>
</div>

<div class="container">
	<form method="POST" action="{{url_for('restaurant.new')}}">
		<div class="form-group row py-3">
			<div class="col-sm-4">

				<input type="text" placeholder="Restaurant Name" name="name" class="form-control">
			</div>
			<div class="col-sm-2">
				<input type="submit" class="btn btn-primary" value="Add">
			</div>
	</form>
	</div>
	{% endblock %}